html { 
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./stonks.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

form {
    width: 350px;
    margin: 0 auto;
}

#loading {
    padding-top: 50px;
    width: 50px;
    margin: 0 auto;
    color: white;
    display: none;
    /* display: show; */
}

#results {
    background-color: white;
    width: 75%;
    margin: 0 auto;
    margin-top: 35px;   
}

th, td {
    padding: 8px;
}

tr:nth-child(even) {
    background-color: grey;
}